table {
  border-collapse: collapse;
  margin: 25px 0;
  text-align: left;
}

thead tr {
  background-color: #000;
  color: white;
  font-weight: 500;
}

th,
td {
  padding: 10px 15px;
}

tr {
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-of-type(even) {
  background-color: rgb(231, 231, 231);
}
